body{
  margin: 0;
  padding: 0;
}

.bg-blue {
  background-color: #005CA8;
  color: white;
}

.bg-blue a{
  color: white;
  transform-origin: top left;
  transition: transform 0.3s;
}

.bg-blue a:hover{
  color: white;
  transform: scale(1.1);
}

.container {
  display: flex;
  margin-top: 20px;
}

.filter-container {
  flex: 0 0 200px;
  margin-right: 20px;
}

.pdf-list {
  margin: 0!important;
  flex: 1;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
  }
}

h1.text-center {
  border-bottom: 2.5px solid blue;
  padding-bottom: 10px;
}
.title-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.title-container h1 {
  font-size: 2.5em; 
  margin-bottom: 10px;
  color: #333;
}

@media (min-width: 320px) and (max-width: 768px){
  .title-header{
    justify-content: center!important;
  }
  .txt-center h1{
    font-size: 2.5rem;
  }
  .txt-center p{
    font-size: 1.2rem;
  }
}

.subtitle {
  font-size: 1.4em;
  color: #666;
}

.txt-center{
  text-align: center;
}

@media (min-width: 320px) and (max-width: 992px) {
  .icons-container{
    display: flex;
  }
}

.btn {
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #e0e0e0;
}
