body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 0px;
}

footer {
  flex-shrink: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg-blue {
  background-color: #005CA8;
  color: white;
}

.bg-blue a{
  color: white;
  transform-origin: top left;
  transition: transform 0.3s;
}

.bg-blue a:hover{
  color: white;
  transform: scale(1.1);
}

.container {
  display: flex;
  margin-top: 20px;
}

.filter-container {
  flex: 0 0 200px;
  margin-bottom: 25%;
}

.pdf-list {
  margin: 0!important;
  flex: 1;
  padding-top: 60px;
  padding-left: 10px;
  font-size: 1.3rem;
}

h2.text-center {
  border-bottom: 2.5px solid blue;
  padding-bottom: 10px;
  font-size: 2rem;
}
.title-container {
  margin-top: 1.5rem;
}

.title-container h1 {
  font-size: 2.5em; 
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  font-size: 1.4em;
  color: #666;
}

.txt-center{
  text-align: center;
}

.btn {
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #e0e0e0;
}

.form-label{
  font-size: 1.1rem;
}

.p-footer{
  margin-bottom: 0;
}

.pdf-link{
  text-decoration: none;
}

#myBtn {
  display: none; /* Botão oculto por padrão */
  position: fixed; /* Posição fixa */
  bottom: 20px; /* Distância do fundo da página */
  right: 30px; /* Distância da direita da página */
  z-index: 99; /* Fica sobre outros elementos */
}


@media (max-width: 426px) {
  #p-footer{
    font-size: 0.7rem;
  }
  .pdf-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;  
    font-size: 1.1rem;  
  }
  #myBtn{
    right: 10px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  #myBtn{
    right: 7px;
  }
}

@media (min-width: 426px) and (max-width: 768px){
  #p-footer{
    font-size: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 992px) {
  .icons-container{
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 768px){
  .title-header{
    justify-content: center!important;
  }
  .txt-center h1{
    font-size: 2.5rem;
  }
  .txt-center p{
    font-size: 1.2rem;
  }
  .filter-container{
    margin-bottom: 0;
  }
  .pdf-list{
    font-size: 1rem;
  }
  .form-select{
    font-size: 1.2rem;
  }
  h2{
    font-size: 1.8rem;
  }
  .btn-primary{
    font-size: 1.2rem;
  }
  
  .btn-secondary{
    font-size: 1.2rem;
  }
  .container{
    flex-direction: column;
  }
}